{% include "base.html.twig" %}
{% block body %}
	<div class="container">
		<div>
			<header class="text-center mt-5 ">
				<p>Vous trouverez ici mon CV ainsi que certain projet que j'ai pû réaliser au cours de ma formation</p>
			</header>
			<div class="d-flex text-align mt-5">
				<section class="first-section col-6 h-100">
					<h2 class="text-center">
						<a href="{{ path('app_cv') }}">cv</a>
					</h2>
				</section>
				<section class="seconde-section col-6 h-100">
					<h2 class="text-center">
						<a href="{{ path('app_portfolio') }}">Portfolio</a>
					</h2>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
