{% include "base.html.twig" %}
{% block body %}
	<div class="container">
		<div class="row-12">
			<header class="text-center">
				<p>paragraphe test test test</p>
			</header>
			<div class="d-flex text-align">
				<section class="first-section col-6 h-100">
					<h2 class="text-center">
						<a href="{{ path('app_cv') }}">cv</a>
					</h2>
				</section>
				<section class="seconde-section col-6 h-100">
					<h2 class="text-center">
						<a href="{{ path('app_portfolio') }}">Portfolio</a>
					</h2>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
